*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial;
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 50px;
background:#111827;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:120px 20px;
}

.hero h1{
font-size:48px;
}

.hero h2{
color:#3b82f6;
margin:15px 0;
}

section{
padding:60px 80px;
}

.skill{
display:inline-block;
padding:10px 20px;
margin:10px;
background:#2563eb;
border-radius:30px;
}

.card{
background:#1e293b;
padding:20px;
margin-top:20px;
border-radius:15px;
}
